html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

/* Nav on top */
#nav-container {
  margin: 0;
  position: fixed;
  padding: 20px;
  left: 0;
  top: 0;
  background-color: #eee;
  z-index: 10;

  /* changes for large screen */
  height: 60px;
  right: 0;
}

#content-container {
  max-width: 700px;
  height: 100%;
  padding: 20px;
  background-color: white;

  /* changes for large screen */
  margin: 60px auto;
}

/* Nav on side */
@media (min-width: 768px) {
  #nav-container {
    height: 100%;
    right: auto;
    width: 140px;
    padding-top: 40px;
  }

  #content-container {
    margin: 20px 140px;
  }

}

img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

hr {
  border-top: 1px solid #777;
}

h1, h2, h3, h4 {
  font-family: 'Catamaran', sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  font-weight: 600;
  font-size: 1.75em;
}

h2, h3, h4 {
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
}

h3 {
  color: #777;
  font-size: 1.25em;
}

p {
  font-family: 'Lora', serif;
}

div.character, div.situation {
  border: 1px solid #777;
  padding: 10px 20px;
  margin-bottom: 20px;
}

div p:last-child {
  margin-bottom: 0;
}

blockquote {
  color: #777;
  margin: 16px 21px;
}

code {
  color: initial;
}

.nav-link {
  font-size: 0.8em;
  padding: 0 20px 0 0;
  /*cursor: pointer;*/
}

a.nav-link{
  color: rgb(33, 37, 41);
  text-decoration: none;
}
